body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 246, 255);
    padding: 0px;
    margin: 0px;
    text-align: center;
}

figure img{
    height:auto;
    width: 200px;
    margin-right:70%;
    
}

.menu{
    text-align: end;
   margin-top: -40px;
   margin-right: 20px;

}
.menu a{
    color: #2d3bff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 5px;
}

.menu a.active {
    background-color: #000548;
    color: #ffff;
}
.cabecera-img{
    width: 100%;
    height: auto;

}
.header{
    font-size: 60px;
       display: flex;
    position: absolute;    
    top: 50%;
    left:20%;
    color: #bdc2ff;
    font-weight: 600;

}
#titulo {
    text-align: center;
    font-size: 45px;
    color: #000548;
    background-color: #bdc2ff;
    padding: 20px 0;
    margin-right: 0px;
    font-weight: 700;
     margin:40px 40px;
}
    
input{
    border-style: none;
    border-bottom: 1px solid #858585;
    width: 200px;

}

.fila1{
    color: #000548;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    margin-right: 50px;
}

.fila2{
    color: #000548;
     padding: 8px;
    font-size: 15px;
    text-align: center;
    margin-right: 50px;
}
.fila3{
    color: #000548;
    padding: 8px 0;
    font-size: 15px;
    text-align: center;
    margin-right: 50px;

}
.fila4{
    color: #000548;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    margin-right: 50px;
}
.botones {
    display: flex; 
    justify-content: center;
    gap: 10px;                
    margin-top: 20px;
}

.botones input {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: #f0f0fd;
    color: #000548;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkbox{
    text-align:center;
    font-size: 60%;
    font-style:oblique;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}
#subtitulo{
    text-align: center;
    font-size: 150%;
    color: #000548;
    font-weight: 800;
 
}

#subtitulo2{
    text-align: center;
    color: #000548;
    font-weight: 500;
    font-size: 150%;
    font-weight: 800;
}
#subtitulo3{
    color:#000548;
    font-weight: 500;
    font-size: 150%;
    font-weight: 800;
    text-align: center;
}
.numero{
     text-align:center;
    color: #000548;
    margin-left: 30px;
    margin-right: 20px;
    font-weight: 500;
}
.intro{
    text-align:left;
    color: #000113;
    margin-left: 30px;
    margin-right: 20px;
}

.footer {
    background-color: #bdc2ff;
    margin-top: 10px;
    display: flex;
    padding: 15px 30px;
    gap: 40px;
    align-items: flex-start;

}
img{
    height:auto;
    width: 36px;
    display: flex;
    margin-top: 10px;
    gap:40px

}

.direccion {
    color: #000548;
    font-size: 17px;
    text-align: center;
    margin-left: 20%;

    

}
.informacion {
    color: #000548;
    font-size: 17px;
    text-align: center;
    margin-left: 20%;

}

.enlace{
    color: #000548;
    text-decoration: none;
}
.aviso{
    text-align:center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000113;

}
.galeria{
    display: grid;  
    gap: 15px;
    grid-template-columns:repeat(4, 1fr);   
    padding: 40px;
}
.foto1 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}
.foto2 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto3 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto4 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto5 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto6 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto7 img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;

}
.foto8 img{
    width: 100%;
    height: 100%;
    
}
.galeria img:hover {
    transform: scale(1.05);
}

p{
    margin-right: 25px;
    padding-left: 40px;
    color: #000548;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
li{
    text-align: start;
    margin-left: 80px;
    color: #000548;
    font-size: 15px;
    font-weight: 500;

}
.index img{
    float: right;
    width:155px;
    height:155px;
    margin-left: 40px;
    margin-right:20px;
    border-radius: 10px;

}
.servicios h1{
    text-align: center;
    font-weight: 800;
    margin-top: 30px;
        color: #000548;
    background-color: #bdc2ff;
    padding: 20px 0;
     margin:40px 40px;
}
.condiciones img{
    float:left;
    width:155px;
    height:155px;
    margin-left: 40px;
    margin-right:20px;
    border-radius: 10px;
 
}
.condiciones h2{
    text-align: center;
    font-weight: 800;
    margin-top: 30px;
    color: #000548;
    background-color: #bdc2ff;
    margin:40px 40px;
        font-size: 30px;

}
hr{
    margin-top: 60px;
}
.fotos h3{
    text-align: center;
    font-weight: 800;
    grid-column: 1/-1;
    color: #000548;
    background-color: #bdc2ff;
    padding: 20px 0;
    font-size: 30px;
}
.fotos img{
    width: 50%;
    height: auto;
    cursor: zoom-in;
    margin: 0px auto;
}
.fotos img:hover {
    transform: scale(1.05);}

.fotos{
    display: grid;  
    gap: 10px;
    grid-template-columns:repeat(2, 1fr);   
    padding: 30px;
  
    }
.imagen1 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}
.imagen2 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 30px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}
.imagen3 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 30px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}
.imagen4 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 30px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}
.imagen5 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}
.imagen6 p{
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
    background-color: #bdc2ff;
    border-radius: 5px;
    cursor: pointer;
}