<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso legal</title>
     <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
      <figure>
        <img src="../imagenes/logo.png" alt="logo">
    </figure>
  <nav class="menu">
  <a href="../index.html">Inicio</a>
  <a href="contacto.html">Contacto</a>
  <a href="presupuesto.html">Presupuesto</a>
  <a href="productos.html">Productos</a>
</nav>

    <img class="cabecera-img" src="../imagenes/imgcabecera.jpeg" alt="img">

</header>
<div class="aviso">
    Este sitio web es propiedad de <b>Alecar Sin Conductor</b>, ubicado en Pol. Ind. Las Cumbres, Calle Edison, 606400 Don Benito (Badajoz). El acceso y uso de esta página implica la aceptación de las condiciones establecidas en este Aviso Legal, así como el compromiso de realizar un uso adecuado de sus contenidos. Queda prohibida la reproducción total o parcial de cualquier material sin autorización. El titular no se hace responsable del uso indebido de la información publicada ni de posibles daños derivados del funcionamiento del sitio. Este sitio puede incluir enlaces a terceros, cuyos contenidos no controla el titular. La web se rige por la legislación española vigente.</div>
     <footer>
<div class="footer">
    <a href="https://www.instagram.com/alecar.sinconductor/"> 
     <img src="../imagenes/insta.png" alt="instagram"></a>

    <a href="https://www.facebook.com/alecar.sinconductor/">
    <img src="../imagenes/facebook.png" alt="facebook"></a>


<div class="direccion">
   <h4>Dirección</h4>
    Pol. Ind. Las Cumbres, c/ Edisson, 
    <div>606400 Don Benito (Badajoz)</div>
</div>   

<div class="informacion">
   <h4>Información</h4>
   <a href="../views/avisolegal.html" class="enlace"> Aviso legal</a>
</div>  
</div>
</footer>
</body>
</html>