<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/styles.css">
    <title>Contacto</title>
</head>

<body>

    <header>
    <figure>
        <img src="../imagenes/logo.png" alt="logo">
    </figure>

      <nav class="menu">
  <a href="../index.html">Inicio</a>
  <a href="contacto.html" class="active">Contacto</a>
  <a href="presupuesto.html">Presupuesto</a>
  <a href="productos.html">Productos</a>
</nav>

    <img class="cabecera-img" src="../imagenes/imgcabecera.jpeg" alt="img">
 <div class="header"><b>TU MEJOR OPCIÓN PARA ALQUILAR</b></div>
</header>
    <h1 id="titulo">Contacto</h1>
    <h2 id="subtitulo">Localización</h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6204.854512960096!2d-5.880908!3d38.959911!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd145b2163f3f54f%3A0x2770ad52addae9aa!2sAlecar%20Alquiler%20de%20Veh%C3%ADculos%20sin%20Conductor!5e0!3m2!1ses!2sus!4v1764106517168!5m2!1ses!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<hr>
    <h2 id="subtitulo2">Sobre Nosotros</h2>
   <p class="intro">
Bienvenido a <b>ALECAR</b>, empresa dedicada desde hace más de 15 años al <b>alquiler de vehículos sin conductor en Don Benito y Villanueva de la Serena</b>. Disponemos de una gran variedad de opciones que hace que cubramos todos los sectores, siendo nuestra principal especialidad el <b>alquiler de vehículos industriales</b>. Ofrecemos nuestros servicios en toda Extremadura, permitiendo que nuestros vehículos puedan moverse por toda España sin ningún tipo de inconveniente al estar todos completamente preparados y reglados.

Nuestro objetivo no es otro que buscar la satisfacción plena de nuestros clientes, basándonos en un excelente servicio con el fin de hacer todo lo posible para que se olviden de las preocupaciones del transporte, de manera que nos adaptamos a sus necesidades con una atención personalizada y fiable.

Tenemos nuestra sede en <b>Don Benito (Badajoz)</b>, desde donde ofrecemos nuestros servicios a toda <b>Extremadura</b>, incluyendo también la provincia de Cáceres.

Todo esto hace que actualmente seamos un referente en el <b>alquiler de vehículos</b> en la zona de Vegas Altas y La Serena: <b>Don Benito, Villanueva de la Serena, Campanario, Castuera, Quintana de la Serena, Zalamea de la Serena, etc.</b>
<h2 id="subtitulo3">Llámanos</h2>
<div class="numero">924 80 34 15</div>

<footer>
<div class="footer">
    <a href="https://www.instagram.com/alecar.sinconductor/"> 
     <img src="../imagenes/insta.png" alt="instagram"></a>

    <a href="https://www.facebook.com/alecar.sinconductor/">
    <img src="../imagenes/facebook.png" alt="facebook"></a>


<div class="direccion">
   <h4>Dirección</h4>
    Pol. Ind. Las Cumbres, c/ Edisson, 
    <div>606400 Don Benito (Badajoz)</div>
 </div>   

<div class="informacion">
   <h4>Información</h4>
   <a href="../views/avisolegal.html" class="enlace"> Aviso legal</a>
 </div>  

</div>
</footer>
</body>
</html>